<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lekh.bean2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignIn"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActivityNavigator" />
        <activity android:name=".Activitys.ConnectionPlus" />
        <activity android:name=".Activitys.ActivityEditProfileInformation" />
        <activity android:name=".Activitys.ActivityNotificationSettings" />
        <activity android:name=".Activitys.ActivityAboutUs" />
        <activity android:name=".Activitys.ActivityHelp" />
        <activity android:name=".Activitys.ActivityScanQRCode" />
        <activity android:name=".Activitys.ActivityGoogleMaps" />
        <activity android:name=".Activitys.ActivityAddPost" />
        <activity android:name=".Activitys.ActivityPhotoComment" />
        <activity android:name=".Activitys.ActivityEventDetail" />
        <activity android:name=".Activitys.ActivityNewBusinesss" />
        <activity android:name=".Activitys.ActivityBusinessDetaila" />
        <activity android:name=".Activitys.ActivityPostsDetails" />
        <activity android:name=".Activitys.ActivityRequests" />
        <activity android:name=".Activitys.ActivityNewEvent" />
        <activity android:name=".Activitys.ActivityPostSearch" />
        <activity android:name=".Activitys.ActivityComments" />
        <activity android:name=".Activitys.ActivityProfileFriends" />
        <activity android:name=".Activitys.ActivityConnectionSearch"></activity>
    </application>

</manifest>